body
{
    font-size: 16px;
    font-family: 'Share', sans-serif;
    margin: auto;
    padding: 0px;
    font-family: Helvetica;
    background-image:  url(../img/bg.png);
    margin-left: 48px;
    margin-right: 48px;
}

header
{
    position: relative;
    padding-top: 24px;
    margin-bottom: 48px;
    font-size: 20px;
    text-align: left;
}

header iframe
{
    position: absolute;
    right: 32px;
    bottom: 32px;
}

header h1
{
    text-transform: uppercase;
    font-size: 50px;
    color: #FFF;
    margin-bottom: 0px;
}


header h2
{
    margin-top: 0px;
    font-size: 24px !important;
    color: #E5342F;
}

.movie
{
    float: left;
    position: relative;
    margin: 0;
    width: 182px;
    height: 246px;
    overflow: hidden;
    margin: 6px;
    background-repeat: no-repeat;
    border: 12px solid transparent;
}

.movie:hover
{
    border-color: #E5342F;
}


.movie #play
{
    opacity: 0;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    background-size: 83px 83px;
    background-image: url(../img/play.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}

.movie:hover #play
{
    opacity: 1;
}

#play:hover
{
    background-size: 90px 90px;
}

#watched
{
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 0px;
    right: 0px;
    font-size: 0px;
    line-height: 0%; width: 0px;
    border-top: none;
    border-bottom: 48px solid #E5342F;
    border-left: 48px solid transparent;
    border-right: none;
    cursor: pointer;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}

.movie.watched
{
    border-color: #424242;
}

.movie.watched #watched
{
    border-color: #424242;
    border-left: 48px solid transparent;
    border-bottom: 48px solid #424242;
}
.movie.watched #check
{
    color: green;
}


#movies
{
    float: left;
    width: 100%;
    height: 100%;
}

#check
{
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#check:hover
{
    color: #CCC;
}


.movie .info
{
    z-index: 100;
    position: absolute;
    text-align: center;
    background-color:  rgba(0,0,0,0.8);
    height: 50px;
    width: 162px;
    top: -70px;
    padding: 12px;
    color: #FFF !important;
    line-height: 20px;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}

.movie:hover .info
{
    top: 0px;
}


#box
{
    display: none;
}

.popup
{
    width: 793px !important;
}

.popup iframe
{
    float: left;
    height: 378px;
    width: 793px;
}